<!DOCTYPE html>
<html>

<head>

<title>Prediction History</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="main-wrapper">

<div class="container">

<a class="back-btn" href="/dashboard">⬅ Back</a>

<h1>Prediction History</h1>

{% for item in history %}

<div class="history-card">

<p><b>News:</b> {{item.news}}</p>

<p><b>Prediction:</b> {{item.prediction}}</p>

<p><b>Confidence:</b> {{item.confidence}}%</p>

</div>

{% endfor %}

<button class="delete-btn" onclick="clearHistory()">Delete History</button>

</div>

</div>

<script src="/static/js/script.js"></script>

</body>

</html>